    <h1>New Post</h1>
        <form action="/posts" method="post">
            <div>
                <label>title</label><br>
                <input type="text" name="title" placeholder="title">
            </div>
            <div>
                <label>author</label><br>
                <input type="text" name="author" placeholder="author">
            </div>
            <div>
                <label>upvotes</label><br>
                <input type="text" name="upvotes" placeholder="upvotes">
            </div>
            <div class="field">
                <label>blog content</label>
                <textarea name="content" placeholder="content goes here"></textarea>
            </div>
            <input type="submit" value="Add Post">
        </form>
    </div>

